<h1>Tilføj Opgave</h1>

<%= form_for @opgave do |f| %>
    <%= fields_for :opgave do |op| %>




            <%= f.label :title %>
            <%= f.text_field :title %>
            <%= f.submit "Opret" %>


    <% end %>


<% end %>
<% #= render 'form' %>

