<div class="push"><!--//--></div>
<footer>
    <div class="container">
      <p>
        <a href="http://www.kb.dk" class="kb"></a>
        <a href="http://www.srku.dk" class="srku"></a>
      </p>
        <%= raw t('dias.footer') %>


    </div>
</footer>

<% if can? :manage, @alle   %>
    <div class="navbar navbar-fixed-bottom navbar-inverse admin">

      <div class="navbar-inner">

        <div class="container">

          <a class="brand" href="#"><i class="icon-cog icon-white"></i> Administrator</a>
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li>
              <%=  link_to 'Se alle opgaver',papers_path %>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <%=  link_to 'Liste over studier',institutes_path %>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <%=  link_to 'Liste over sprog',paper_languages_path %>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <%=  link_to 'Liste over opgave typer',paper_types_path %>
            </li>
            <li class="divider-vertical"></li>
          </ul>

        </div>

      </div>

    </div>


<% end  %>





