<div class="row">

    <div class="span9 teaser">
        <div class="imgContent">
            <%= image_tag "dias/teaserImg.jpg" , :alt => "Edit Entry" %>

          <div>
            <%= raw t('dias.views.forside.velkommen') %>
          </div>

        </div>

      <p>
        <span> <%= t('dias.views.forside.samarbejdetext') %></span>
        <a href="http://www.srku.dk">
            <%= image_tag "dias/srkuLogo.png" , :alt => "Edit Entry" %>
        </a>
      </p>
    </div>




  <div class="span3 login">

      <h3>
        <%=raw t('dias.views.forside.text') %>
      </h3>

      <% if can? :edit, @papers   %>
          <p><%= link_to t('.new', :default => raw(t('dias.views.forside.tilfoejknap'))),
                         new_paper_path,
                         :class => 'btn btn-large btn-success' %></p>
      <% end %>

      <% if !can? :edit, @papers   %>
          <p><%= link_to t('.new', :default => raw(t('dias.views.forside.tilfoejogloginknap'))),
                         new_user_session_path,
                         :class => 'btn btn-large btn-success' %>   </p>
      <% end %>

    </div>


</div>
