
<div id="sidebar" class="span12">
    <%= render :partial=>'facets' %>
</div><!--/well -->


<div id="content" class="span12">

    <% #if !(has_search_parameters?) %>
    <% if (request.path=="/" || request.path=="/dias/") &&  !(has_search_parameters?) %>
	    <%# if there are no input/search related params, display the "home" partial -%>
	    <%= render 'home' %>
    <% elsif  request.path.to_s.include?('/faq')  %>

      <div class="faq">
        <h1><%= t('dias.views.faq.overskrift') %></h1>
        <%=raw t('dias.views.faq.text') %>

      </div>

  <% elsif  request.path.to_s.include?('/kontakt')  %>
      <div class="contact">
        <h1><%= t('dias.views.kontakt.overskrift') %></h1>
        <%=raw t('dias.views.kontakt.text') %>
      </div>
  <% elsif  has_search_parameters? %>

      <h2 class="hide-text top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

      <% @page_title = t('blacklight.search.title', :application_name => application_name) %>


      <% extra_head_content << render_opensearch_response_metadata.html_safe %>

	    <%= render :partial => 'did_you_mean' %>

      <%= render :partial => 'constraints' %>

	    <%= render 'sort_and_per_page' %>

      <h2 class="hide-text"><%= t('blacklight.search.search_results') %></h2>
	    <%= render_document_index %>


	    <%= render 'results_pagination' %>

    <% else %>
      <%= render 'home' %>
    <% end %>


</div>

