

  <div id="content" class="span12 show-document">

    <%= render 'previous_next_doc' %>
     
  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name) %>
  <% extra_head_content << render_link_rel_alternates %>
  <% sidebar_items << render_document_sidebar_partial %>

  <%# this should be in a partial -%>
  <div id="document" class="<%= render_document_class %>">
    <div id="doc_<%= @document.id.to_s.parameterize %>">


      <% # bookmark/folder functions -%>
      <%= render_document_heading(:h1).html_safe %>
      <h4><%= @document["undertitel_tesim"].first.html_safe if @document["undertitel_tesim"] %></h4>
      <div class="document">
      <dl>
        <dt><%=  t('dias.views.paper.labels.forfatter')  %></dt>
        <dd>
          <%#= @document["forfatter_t"].first.html_safe %>
          <%= @document["forfatter_tesim"].html_safe rescue nil %>
        </dd>
        <dt><%=  t('dias.views.paper.labels.afleveringsaar')  %></dt>
        <dd>
          <%= @document["afleveringsaar_tesim"].first.html_safe %>
        </dd>

        <dt><%=  t('dias.views.paper.labels.studium')  %></dt>
        <dd>
          <%= @document["studium_tesim"].first.html_safe %>
        </dd>


        <dt><%=  t('dias.views.paper.labels.abstrakt')  %></dt>
        <dd><blockquote>
          <%= simple_format( @document["abstrakt_tesim"].first, ) if @document["abstrakt_tesim"] %>
        </blockquote>
        </dd>

        <dt><%=  t('dias.views.paper.labels.opgavetype')  %></dt>
        <dd>
          <%= @document["genre_tesim"].first.html_safe %>
        </dd>

        <dt><%=  t('dias.views.paper.labels.opgavesprog')  %></dt>
        <dd>
          <%= @document["opgavesprog_tesim"].first.html_safe %>
        </dd>

        <dt><%=  t('dias.views.paper.labels.licens')  %></dt>
        <dd>
          <% if @document["licens_url"] %>
              <%= raw @document["licens_description"].html_safe  %>

              <!--
           <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.da"><img alt="Creative Commons licens" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a><br />Dette værk er licenseret under en <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.da">Creative Commons Navngivelse-IkkeKommerciel-IngenBearbejdelse 3.0 Unported Licens</a>.
              -->
          <% else %>
           ingen licens defineret&nbsp;
          <% end %>
        </dd>

        <dt>Download</dt>
        <dd>
          <%=  link_to 'PDF: '+ document_show_html_title, download_path(@document["id"]) %>

        </dd>
      </dl>


      </div>






    </div>
  </div>



    <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
      <!-- 
           // COinS, for Zotero among others. 
           // This document_partial_name(@document) business is not quite right,
           // but has been there for a while. 
      -->
      <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
    <% end %>

  </div>



