


<%= form_for(@paper, :validate => true, :html => { :multipart => true, :class => 'form-horizontal'}) do |f| %>


    <script type="text/javascript">
        console.log("form.rb.html")
        // if KBDIAS doesn't exist, create it.
        var KBDIAS = KBDIAS || {};
        KBDIAS.some_method = function(){}
        KBDIAS.some_property = 3;
        KBDIAS.locale = '<%= I18n.locale %>';
        KBDIAS.title = '<%= I18n.t("dias.models.paper.validate.title") %>';
        KBDIAS.afleveringsaar = '<%= I18n.t("dias.models.paper.validate.afleveringsaar") %>';
        KBDIAS.afleveringsaarlength = '<%= I18n.t("dias.models.paper.validate.afleveringsaarlength") %>';
        KBDIAS.afleveringsaarmax = '<%= I18n.t("dias.models.paper.validate.afleveringsaarmax") %>';
        KBDIAS.afleveringsaarefter1479 = '<%= I18n.t("dias.models.paper.validate.afleveringsaarefter1479") %>';


        KBDIAS.file = '<%= I18n.t("dias.models.paper.validate.file") %>';
        KBDIAS.opgavesprog = '<%= I18n.t("dias.models.paper.validate.opgavesprog") %>';
        KBDIAS.opgavetype = '<%= I18n.t("dias.models.paper.validate.opgavetype") %>';
        KBDIAS.studium = '<%= I18n.t("dias.models.paper.validate.studium") %>';
        KBDIAS.vilkaarbetingelser = '<%= I18n.t("dias.models.paper.validate.vilkaarbetingelser") %>';

    </script>
    <% if @paper.errors.any? %>
        <div class="alert alert-error" > <!-- id="error_explanation"   <span class="badge badge-important badge-large"> <!%= @paper.errors.count %> </span>-->
          <h2><%= @paper.errors.count %> <%= t('dias.views.paper.validate.error')  %></h2>

          <ul>
            <% @paper.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="control-group">
    <%= f.label t('dias.views.paper.labels.title'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field span6',  :placeholder => t('dias.views.paper.placeholder.titel')  %>

        <!--span class="help-inline"><%= t('dias.views.paper.help.titel')%></span-->

      </div>
    </div>

    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.undertitel'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :undertitel, :class => 'text_field span6', :placeholder => t('dias.views.paper.placeholder.undertitel') %>


        <span class="help-inline"><%= t('dias.views.paper.help.undertitel')%></span>

      </div>
    </div>


    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.abstrakt'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :abstrakt, :class => 'text_area span6', :placeholder => t('dias.views.paper.placeholder.abstrakt') %>
      </div>
    </div>



    <% unless @paper.get_authors.blank?  %>
        <div class="control-group">
          <%= f.label t('dias.views.paper.labels.forfatter'), :class => 'control-label' %>
          <div class="controls">
              <span class="authors">
                <% @paper.get_authors.each_with_index do |f, i| %>
                  <span class="author">
		     <div class="row">
                      	<%= text_field_tag "paper[forfatter][#{i}][gn]", f["gn"], :class => 'text_field span3 gn', :placeholder => t('dias.views.paper.placeholder.gn') %>
		 	<%= text_field_tag "paper[forfatter][#{i}][sn]", f["sn"], :class => 'text_field span3 sn', :placeholder => t('dias.views.paper.placeholder.sn') %>
                        <a class="remove-author" href="#"><i class="icon-remove" ></i></a>
                     </div>
                  </span>
                <% end %>
              </span>
	  </div>
	    <div class="controls">
              <a class="add-author"  href="#"><i class="icon-plus" ></i><%= raw t('dias.views.paper.labels.add.forfatter') %></a>
	    </div>
        </div>
    <% else %>
        <div class="control-group">
          <%= f.label t('dias.views.paper.labels.forfatter'), :class => 'control-label' %>
          <div class="controls">
          <span class="authors">
            <span class="author">
		<div class="row">
                 <%= text_field_tag 'paper[forfatter][0][gn]', nil, :class => 'text_field span3 gn', :placeholder => t('dias.views.paper.placeholder.gn') %>
		 <%= text_field_tag 'paper[forfatter][0][sn]', nil, :class => 'text_field span3 sn', :placeholder => t('dias.views.paper.placeholder.sn') %>
                 <a class="remove-author" href="#"><i class="icon-remove" ></i></a>
	        </div>
            </span>
          </span>
	  </div>
          <div class="controls">
            <a class="add-author"  href="#"><i class="icon-plus" ></i><%= raw t('dias.views.paper.labels.add.forfatter') %></a>
          </div>
        </div>
    <% end %>



    <div class="control-group">
      <%= f.label  t('dias.views.paper.labels.afleveringsaar'), :class => 'control-label' %>
      <div class="controls">
        <!--<div class="input-prepend">
          <span class="add-on"><i class="icon-calendar"></i></span>-->

        <%= f.number_field :afleveringsaar, :class => 'number_field ' %>
        <!--</div>-->
        <!--span class="help-inline"><%= t('dias.views.paper.help.afleveringsaar')%></span-->
      </div>

    </div>

    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.studium'), :class => 'control-label' %>
      <div class="controls">

          <%= collection_select(:paper, :studium, Institute.all, :title, :title, :prompt => true) %>


        <span class="help-block"><%= t('dias.views.paper.help.studium')%></span>
      </div>

    </div>


    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.opgavesprog'), :class => 'control-label' %>
      <div class="controls">
        <%= collection_select(:paper, :opgavesprog, PaperLanguage.all, :title, :title, :prompt => true) %>
        <span class="help-block"><%= t('dias.views.paper.help.opgavesprog')%></span>
      </div>

    </div>


    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.opgavetype'), :class => 'control-label' %>
      <div class="controls">
        <%= collection_select(:paper, :opgavetype, PaperType.all, :title, :title, :prompt => true) %>
        <span class="help-block"><%= t('dias.views.paper.help.opgavetype') %></span>
      </div>
    </div>

    <div class="control-group">
        <%= f.label t('dias.views.paper.labels.pdffil'), :class => 'control-label' %>
        <div class="controls">
          <% unless @paper.original_filename.nil? || @paper.original_filename.blank? %>
              <div>
                <%=  'PDF: ' + @paper.original_filename.to_s %><br>

              </div>
          <% else %>

                <%= file_field_tag 'content', :id => 'content',  :accept => 'application/pdf',  :class => 'btn' %>


          <% end %>

        </div>

    </div>

    <div class="control-group">

      <div class="controls">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <h4><%= t('dias.views.paper.labels.vilkaarogbetingelser') %> <i class="icon-info-sign"></i></h4>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= raw t('dias.views.paper.labels.vilkaarogbetingelserfulltext') %>
              </div>
            </div>
          </div>

      </div>
      </div>

        <div class="controls">

          <label class="checkbox ">
            <input type="checkbox" name="termsConditionsCheckBox"  id="termsConditionsCheckBox">  <%= t('dias.views.paper.labels.vilkaarogbetingelsertext') %>
        </label>


        </div>

    </div>




    <div class="form-actions"
         id="formCreateDiv"

         title="<%= t('dias.models.paper.validate.vilkaarbetingelser') %>"
         data-placement="top" >
      <%= f.submit t('dias.views.paper.labels.opretopgave'),
                   :id => 'createAssignmentBtn',
                   :class => 'btn btn-primary',
                   :title => 'Opret opgave'
                   #:disabled => "disabled"
           %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  root_path, :class => 'btn' %>
    </div>

<% end %>
