<%= form_for(@paper, :html => { :multipart => true, :class => 'form-horizontal'}) do |f| %>

    <div class="control-group">
    <%= f.label t('dias.views.paper.labels.title'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field span6',  :placeholder => 'Opgavetitel' %>
        <i class="icon-pencil"></i>
        <span class="help-block">Titlen på din opgave</span>

      </div>
    </div>

    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.undertitel'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :undertitel, :class => 'text_field span6' %>
        <i class="icon-pencil"></i>

        <span class="help-block">En eventuel undertitel.</span>

      </div>
    </div>


    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.abstrakt'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :abstrakt, :class => 'text_area span6',  :placeholder => 'En god beskrivelse af opgaven eller opgavens abstract (også kaldet resume).' %>
      </div>
    </div>



    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.forfatter'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :forfatter, :class => 'text_field span6',  :value => current_user.name %>
        <i class="icon-user"></i>
        <span class="help-block">Dit for- og efternavn</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label  t('dias.views.paper.labels.afleveringsaar'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :afleveringsaar, :class => 'text_field span6',  :placeholder => '2013' %>
        <span class="help-block">I det år opgaven blev afleveret til bedømmelse</span>
      </div>

    </div>

    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.studium'), :class => 'control-label' %>
      <div class="controls">
        <%= collection_select(:paper, :studium, Institute.all, :title, :title) %>
        <i class="icon-book"></i>

        <span class="help-block">På hvilket studie er opgaven skrevet</span>
      </div>

    </div>


    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.opgavesprog'), :class => 'control-label' %>
      <div class="controls">
        <%= collection_select(:paper, :opgavesprog, PaperLanguage.all, :title, :title) %>
        <span class="help-block">På hvilket sprog er opgaven skrevet (primær sprog)</span>
      </div>

    </div>


    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.opgavetype'), :class => 'control-label' %>
      <div class="controls">
        <%= collection_select(:paper, :opgavetype, PaperType.all, :title, :title) %>
        <span class="help-block">Hvilken type opgave er der tale om (Bemærk at der ikke kan afleveres specialer)</span>
      </div>
    </div>

    <div class="control-group">
	<%= f.label t('dias.views.paper.labels.pdffil'), :class => 'control-label' %>
	<div class="controls">

  		<%= file_field_tag 'content',  :class => 'btn btn-large' %>
      <i class="icon icon-large icon-upload"></i>
	</div>
    </div>

    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.vilkaarogbetingelser'), :class => 'control-label' %>


      <div class="controls">
        <label class="checkbox">
          <input type="checkbox"> Jeg accepterer KB's vilkår og betingelser.     <i class="icon-info-sign"></i>
        </label>
      </div>
    </div>



    <% if @paper.errors.any? %>
    <div class="alert alert-error" > <!-- id="error_explanation"   <span class="badge badge-important badge-large"> <!%= @paper.errors.count %> </span>-->
      <h2><%= @paper.errors.count %> <%= t('dias.views.paper.validate.error')  %></h2>

          <ul>
            <% @paper.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  papers_path, :class => 'btn' %>
    </div>
<% end %>
