<%= form_for(@paper, :html => { :multipart => true, :class => 'form-horizontal'}) do |f| %>

    <% if @paper.errors.any? %>
        <div class="alert alert-error" > <!-- id="error_explanation"   <span class="badge badge-important badge-large"> <!%= @paper.errors.count %> </span>-->
          <h2><%= @paper.errors.count %> <%= t('dias.views.paper.validate.error')  %></h2>

          <ul>
            <% @paper.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="control-group">
    <%= f.label t('dias.views.paper.labels.title'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field span6',  :placeholder => t('dias.views.paper.placeholder.titel')  %>

        <span class="help-block"><%= t('dias.views.paper.help.titel')%></span>

      </div>
    </div>

    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.undertitel'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :undertitel, :class => 'text_field span6' %>


        <span class="help-block"><%= t('dias.views.paper.help.undertitel')%></span>

      </div>
    </div>


    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.abstrakt'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :abstrakt, :class => 'text_area span6', :placeholder => t('dias.views.paper.placeholder.abstrakt') %>
      </div>
    </div>

    <% unless @paper.forfatter.nil? or @paper.forfatter.empty?  %>
        <div class="control-group">
            <%= f.label t('dias.views.paper.labels.forfatter'), :class => 'control-label' %>
            <div class="controls">
              <span class="authors">
                <% @paper.forfatter.each do |f| %>
                  <span class="author">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <%= text_field_tag 'paper[forfatter][]', nil, :class => 'text_field span6',  :value => f %>
                    </div>
                    <a class="remove-author" href="#"><i class="icon-remove" ></i></a>
                    <span class="help-block"><%= t('dias.views.paper.help.navn')%></span>
                  </span>
                <% end %>
              </span>
              <a class="add-author"  href="#"><i class="icon-plus" ></i><%= raw t('dias.views.paper.labels.add.forfatter') %></a>
            </div>
        </div>
    <% else %>
        <div class="control-group">
        <%= f.label t('dias.views.paper.labels.forfatter'), :class => 'control-label' %>
        <div class="controls">
          <span class="authors">
            <span class="author">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <% if @paper.forfatter.nil? || @paper.forfatter.blank? %>    <!-- hvis der oprettes en ny opgave er forfatter navnet udfyldt med den indloggede bruger -->
                        <%= text_field_tag 'paper[forfatter][]', nil, :class => 'text_field span6',  :value => current_user.name %>
                    <% else %>
                        <%= text_field_tag 'paper[forfatter][]', nil, :class => 'text_field span6' %>
                    <% end %>
                 </div>
                 <a class="remove-author" href="#"><i class="icon-remove" ></i></a>
                 <span class="help-block"><%= t('dias.views.paper.help.navn')%></span>
            </span>
          </span>
          <a class="add-author"  href="#"><i class="icon-plus" ></i><%= raw t('dias.views.paper.labels.add.forfatter') %></a>
        </div>
    </div>
    <% end %>


    <div class="control-group">
      <%= f.label  t('dias.views.paper.labels.afleveringsaar'), :class => 'control-label' %>
      <div class="controls">
        <!--<div class="input-prepend">
          <span class="add-on"><i class="icon-calendar"></i></span>-->

        <%= f.number_field :afleveringsaar, :class => 'number_field span6 ' %>
        <!--</div>-->
        <span class="help-block"><%= t('dias.views.paper.help.afleveringsaar')%></span>
      </div>

    </div>

    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.studium'), :class => 'control-label' %>
      <div class="controls">

          <%= collection_select(:paper, :studium, Institute.all, :title, :title) %>


        <span class="help-block"><%= t('dias.views.paper.help.studium')%></span>
      </div>

    </div>


    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.opgavesprog'), :class => 'control-label' %>
      <div class="controls">
        <%= collection_select(:paper, :opgavesprog, PaperLanguage.all, :title, :title) %>
        <span class="help-block"><%= t('dias.views.paper.help.opgavesprog')%></span>
      </div>

    </div>


    <div class="control-group">
      <%= f.label t('dias.views.paper.labels.opgavetype'), :class => 'control-label' %>
      <div class="controls">
        <%= collection_select(:paper, :opgavetype, PaperType.all, :title, :title) %>
        <span class="help-block"><%= t('dias.views.paper.help.opgavetype') %></span>
      </div>
    </div>

    <div class="control-group">
        <%= f.label t('dias.views.paper.labels.pdffil'), :class => 'control-label' %>
        <div class="controls">
          <% unless @paper.original_filename.nil? %>
              <div>
                <%= link_to 'PDF: '+ @paper.title, download_path(@paper) %>   <%=  @paper.original_filename.to_s %><br>
              </div>
          <% else %>
              <div class="input-prepend">
                <span class="add-on"><i class="icon icon-upload icon-large"></i></span>
                <%= file_field_tag 'content', :value => 'Upload fil', :accept => 'application/pdf',  :class => 'btn' %>
              </div>

          <% end %>

        </div>

    </div>

    <div class="control-group">

      <div class="controls">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <h4><%= t('dias.views.paper.labels.vilkaarogbetingelser') %> <i class="icon-info-sign"></i></h4>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= raw t('dias.views.paper.labels.vilkaarogbetingelserfulltext') %>
              </div>
            </div>
          </div>

      </div>
        <label class="checkbox">
          <input type="checkbox" id="termsConditionsCheckBox"><%= t('dias.views.paper.labels.vilkaarogbetingelsertext') %>
        </label>
        </div>
    </div>




    <div class="form-actions"
         id="formCreateDiv"
         rel="tooltip"
         title="<%= t('dias.models.paper.validate.vilkaarbetingelser') %>"
         data-placement="top" >
      <%= f.submit t('dias.views.paper.labels.opretopgave'),
                   :id => 'createAssignmentBtn',
                   :class => 'btn btn-primary',
                   :title => 'Opret opgave',
                   :disabled => "disabled"
           %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  root_path, :class => 'btn' %>
    </div>
<% end %>
