
<%- model_class = Paper -%>
<div class="page-header">
  <h1><%= @paper.title %></h1>
</div>


<dl class="dl-horizontal">
  <dt><strong><%= t('dias.views.paper.labels.title') %>:</strong></dt>
  <dd><%= @paper.title %></dd>
  <dt><strong><%= t('dias.views.paper.labels.undertitel') %>:</strong></dt>
  <dd><%= @paper.undertitel %></dd>
  <dt><strong><%= t('dias.views.paper.labels.abstrakt') %>:</strong></dt>
  <dd><%= @paper.abstrakt %></dd>

  <dt><strong><%= t('dias.views.paper.labels.forfatter')%>:</strong></dt>
  <dd><%= @paper.forfatter %></dd>
  <dt><strong><%= t('dias.views.paper.labels.afleveringsaar') %>:</strong></dt>
  <dd><%= @paper.afleveringsaar %></dd>
  <dt><strong><%= t('dias.views.paper.labels.studium') %>:</strong></dt>
  <dd><%= @paper.studium %></dd>
</dl>

<%= link_to 'Edit', edit_paper_path(@paper), :class => 'btn' %>