
<%- model_class = Paper -%>
<div class="page-header">
  <h1><%= @paper.title %></h1>
</div>


<dl class="dl-horizontal">
  <dt><strong><%= t('dias.views.paper.labels.undertitel') %>:</strong></dt>
  <dd><%= @paper.undertitel ? @paper.undertitel : "<i>BLANK</i>".html_safe %> </dd>
  <dt><strong><%= t('dias.views.paper.labels.abstrakt') %>:</strong></dt>
  <dd> <blockquote><%= @paper.abstrakt ? @paper.abstrakt :  "<i>BLANK</i>".html_safe%>  </blockquote></dd>

  <dt><strong><%= t('dias.views.paper.labels.forfatter')%>:</strong></dt>
  <dd><%=h @paper.forfatter %> </dd>
  <dt><strong><%= t('dias.views.paper.labels.afleveringsaar') %>:</strong></dt>
  <dd><%=h @paper.afleveringsaar %> </dd>
  <dt><strong><%= t('dias.views.paper.labels.studium') %>:</strong></dt>
  <dd><%=h @paper.studium %> </dd>
  <dt><strong><%= t('dias.views.paper.labels.pdffil') %>:</strong></dt>

  <dd>
    <%= link_to 'PDF: '+ @paper.title, download_path(@paper) %>
  </dd>


</dl>
<% if can? :manage, @alle   %>
    <%= link_to t('dias.edit'), edit_paper_path(@paper), :class => 'btn' %>
<% end %>